.profile-editor
  .profile-editor_body
    .profile-editor_title
      | #{title}
    .profile-editor_avatar
      | !{avatarChanger}
    .profile-editor_dataform
      | !{dataForm}
    .profile-editor_passwordform
      | !{passwordForm}
  .profile-editor_helper
    | !{helper}